<br>
<div class="card" style=" margin-left: 10rem;margin-right: 10rem; ">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-header" style="text-align: center">
            <h3>Schedule Flight</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Flight Id: </th>
                        <td><input type="text" [(ngModel)]="flightid" [disabled]="true" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Schedule Id: </th>
                        <td><input type="text" [(ngModel)]="scheduleFlight.scheduleFlightId" /></td>
                    </tr>
                    <tr>
                        <th scope="row">Source: </th>
                        <td colspan="3">
                            <select name="srcAirport"  style="width: 30%;" class="form-control" [(ngModel)]="srcAirport">
                                <option *ngFor="let airport of airports"[value]="airport">{{airport}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Destination: </th>
                        <td colspan="3">
                            <select name="dstnAirport"  style="width: 30%;" class="form-control" [(ngModel)]="dstnAirport">
                                <option *ngFor="let airport of airports"[value]="airport">{{airport}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fare for one passenger: </th>
                        <td><input type="text" [(ngModel)]="scheduleFlight.price" /> </td>
                    </tr>
                    <tr>
                        <th scope="row">Date of Departure: </th>
                        <td><input type="text" [(ngModel)]="deptDateTime" placeholder="yyyy-MM-dd"/> </td>
                    </tr>
 
                    <tr>
                        <th scope="row">Date of Arrival: </th>
                        <td><input type="text" [(ngModel)]="arrDateTime" placeholder="yyyy-MM-dd"/> </td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td><button (click)="schedulingFlight(scheduleFlight)" type="button" class="btn btn-primary"
                                style="margin: 2%;">Schedule</button>
                            <button (click)="resetForm()" type="button" class="btn btn-primary"
                                style="margin: 2%;">Clear
                                This
                                Form</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>